.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

mat-sidenav {
  transition: width 0.3s ease;
  background-color: #1A1A1A;
  
  .sidenav-toolbar {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    
    button {
      margin-right: 16px;
    }
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  transition: margin-left 0.3s ease;

  mat-toolbar {
    .menu-button {
      margin-right: 16px;
    }
  }
}

mat-nav-list {
  padding: 0;
  
  a.mat-list-item {
    color: white;
    height: 48px;
    
    mat-icon {
      margin-right: 16px;
    }
    
    &:hover {
      background-color: #333;
    }
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 24px;
  overflow-y: auto;
  @media (max-width: 599px) {
    margin-top: 56px; 
  }
}