.sidenav-container {
  height: 100vh; 
}

mat-sidenav {
  width: 250px; 
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px;
}

.close-button {
  margin-left: auto; 
}